@charset "UTF-8";
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #444;
    display: block;
    text-align: left;
}

.sidebar nav ul li a:hover {
    background-color: #555;
}